*{
    margin: 0;
    padding: 0;
}
:root{
    --button_color: #CFB53B;
    --button_hover: #fff;
    --primary-color: #024342;
    --text-color: #fff;
    --text-second-color: #2424248c;
    --heading-color: #242424;
}
header{
    background-color: var(--heading-color);
}
.header_contact{
    display: flex;
    width: 100%;
    color: var(--text-color);
}
.header_contact .contact-info{
    flex: 6;
    flex-direction: column;
    text-align: left;
    padding: 10px 15px 0px 15px;    
    color: var(--text-color);
    font-family: Gilroy;



}

.social-media{
    text-align: right;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    display: flex;

}
.social-media img{
    padding: 0px 8px;
}
p{
    margin-bottom: 0 !important;
    font-family: Gilroy;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    margin-top: -18px;
}
.navbar{
    padding: 0 !important;
}
.navbar-nav{
    margin-left: auto;
}
.nav-item{
    padding: 0px 10px;
    padding-top: 45px;
    margin-bottom: 0px;
}
.nav-item :active{
    background-color: var(--button_color);
}
.navbar-brand img {
    width: 233px;
    height: 72px;
    padding-top: 0px;
    margin-top: 20px;

}
.nav-item a {
    text-decoration: none;
    color:var(--text-second-color) !important;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0px 10px;
    font-family: Gilroy;
    font-size: 22px;
}
.nav-item:hover{
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
    background: var(--button_color);
    color: var(--text-color) !important;
    font-family: Gilroy-Black;
    font-weight: 900;
    padding-top: 41px;

}
.nav-item a:hover{
    color: var(--text-color) !important;
    font-family: Gilroy-Black;
    font-weight: 900;

}
.navbar-collapse button{
    margin: 0px 15px;
    border: none;

}
.form-inline{
    display: flex !important;
    margin-left: auto;
    padding-top: 25px;
}
.form-inline button {

    text-align: center;
    padding: 8px;
    background-color: var(--button_color);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
}
.form-inline button:hover{
    background-color: var(--button_hover);
    color: var(--button_color);
    border: 1px solid var(--primary-color);
}
.form-inline button::after{
    background-color: var(--button_hover);
    color: var(--button_color);
    border: 1px solid var(--primary-color);
}
.form-inline button:active{
    background-color: var(--button_hover) !important;
    color: var(--button_color);
    border: 1px solid var(--primary-color);
}
.form-inline .form-control{
    border-radius: 20px !important;
}

/* home banner section or hero section */

.homeBanner .row .homeBanner_pt1{
    margin-top: 188px;
    z-index: 999;
}
.homeBanner::before{
    content: "" !important;
    height: 72% !important;
    position: absolute !important;
    background-image: url(./images/hero-section-logo.svg) !important;
    width: 50% !important;
    top: 143px;
    left: -315px;
    background-repeat: no-repeat;
}

.homeBanner .row h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--heading-color);
    font-family: 'Gotham';
    line-height: 1.2;
    
    margin-top: 0px;
    
}
.clip-animate {
    animation: text-clip 1.5s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.animate-in-future {
    opacity: 0;
}
.anmiation-wrapper {
    height: 70px;
    overflow-y: hidden;
    font-family: Gilroy-Black;
}
.string {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    animation: move 8s ease-in-out infinite;
}
.building {
    position: relative;
    top: 0;
}

.one {
    background: linear-gradient(364deg, var(--primary-color) -1.23%, var(--text-second-color) 194.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.two {
    background: linear-gradient(112deg, var(--button_color) -1.23%, var(--text-second-color) 100.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    top: 3px;
}
.three {
    background: linear-gradient(364deg, var(--primary-color) -1.23%, var(--text-second-color) 194.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    top: 6px;
 }
.homeBanner_pt1 p{
    font-family: 'Syne', sans-serif;
    font-size: 26px;
    color: var(--text-second-color);
}
.button-primary{
    width: 221px;
    height: 70px;
    border-radius: 41px;
    line-height: 2.5;
    background-color: var(--button_color);
    border: none;
    font-family: Gilroy-black;
    font-size: 22px;
    font-weight: 500;
}

.homeBanner_pt2{
    display: flex;
    position: relative;
}
.hero-section-circle-green{
    z-index: 9999;
    position: absolute;
    left: 169px;
    top: 132px;
    animation: circle 4s ease-in-out infinite;
}
.hero-section-circle-yellow{
    z-index: 9999;
    position: absolute;
    left: 49px;
    top: 113px;
    animation: circle-2 4s ease-in-out infinite;
}
.hero-section-object-1{
    width: 22%;
    position: absolute;
    left: 42px;
    top: 166px;
    rotate: -2deg;
    
}
.hero-section-object-2{
    width: 36%;
    position: absolute;
    top: 75px;
    right: 14px;
    rotate: -2deg;
    
}
.hero-video-section{
    width: 78%;
    height: 559px;
    position: absolute;
    top: 104px;
    left: 80px;
    border-radius: 108% 79% 107% 73%;
    rotate: -5deg;
    object-fit: none;
    overflow: hidden;
    z-index: 999;
    
}
.hero-video-section video{
    width: 175%;
    height: 198%;
    position: absolute;
    top: -273px;
    right: -224px;
    rotate: 4deg;
}

/* services */
.services-section{
    margin-top: 500px;
}
.services-section-heading{
    display: flex;
    align-items: center;
    justify-content: center;

}
.services-section-heading :nth-child(1){
    font-family: Gilroy-Black;
    font-size: 80px;
    color: var(--heading-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.services-section-heading :nth-child(2){
    font-family: Gilroy-Black;
    font-size: 80px;
    color: var(--button_color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}
.lines-dot-left{
    position: relative;
    left: -3%;
    bottom: -28px;
}
.lines-dot-right{
    position: relative;
    right: -3%;
    top: -73px;
    float: right;
}
.lines-dot-left-1{
    position: relative;
    left: -69%;
    bottom: -81px;
    float: left;
}
.lines-dot-right-1{
    position: relative;
    right: -33%;
    top: 80px;
    float: right;
}

.text-center {
    font-size: 26px;
    font-family: 'Syne', sans-serif;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
    color: var(--text-second-color);
    margin-bottom: 50px;
}

.text-center::before,
.text-center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--heading-color);
}
.services-section .row .shade-pic-right{
    width: 40%;
    position: absolute;
    top: 930px;
    right: 0px;
    z-index: -9999;
}
.services-section .row :nth-child(14){
    width: 60%;
    position: absolute;
    bottom: -2500px;
    left: -302px;
    z-index: -9999;
}
.services-section-block{
    margin: 50px 0px;
    padding: 0;


}
.services-section-block img{
    width: 100%;
}
.services-section-animation{
    display: none;
}
.services-section-animation h1{
    font-family: Gilroy-Black;
    font-size: 40px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    padding: 15px 30px;
    line-height: 48px;
}
.services-section-animation p{
    font-size: 22px;
    font-family: 'Syne', sans-serif;
    text-align: left;
    color: var(--text-second-color);
    padding: 15px 30px;
    line-height: 35px;

}
.services-section-animation :nth-child(3){
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 30px;
}
.services-section-block:hover{
    border-radius: 20px;
    box-shadow: -1px 3px 90px -28px #2424242e;;
}

.services-section-block:hover .services-section-animation{
    display: unset;
    position: relative;
    top: -60px;
    
}
.services-section-block:hover img{
    transform: translateX(-110px) translateY(-35px);
    width: 50%;
    animation: serivces 2s ease;
    
}
.services-section-animation:hover{
    display: flex;
    flex-direction: column;
}

/* Procedure section */
.procedure{
    position: relative;
    margin-bottom: 130px;
}
.procedure .lines{
    width: 90%;
    height: 20px;
    background: var(--button_color);
    border-radius: 10px;
    position: relative;
    left: 90px;
    box-shadow: inset 1px 2px 10px 0px #00000021;
}
.procedure #dot{
    width: 50px;
    height: 43px;
    border: none;
    border-radius: 50%;
    box-shadow: 1px -1px 17px 0px #c1bdbd;
    position: relative;
    top: -34px;
    left: 14.3%;
}
.procedure #dot img:nth-child(1){
    width: 90px;
    position: absolute;
    left: -17px;
    bottom: -25px;
}
.procedure #dot img:nth-child(2){
    width: 67%;
    position: absolute;
    left: 11px;
    bottom: 3px;
}
.procedure .col-lg-4{
    margin-top: 51px;
    padding: 0px 50px;
    position: relative;
}
.procedure .arrow{
    background: white;
    left: 1%;
}
.procedure .arrow-sign{
    rotate: 90deg;
    width: 30%;
    position: absolute;
    top: -8%;
    left: 35%;
}
.procedure .icon1{
    width: 24%;
    position: absolute;
    left: 38%;
    top: 98px;
    z-index: 9999;
}
.procedure .box-procedure{
    width: 91%;
    border: 5px solid var(--button_color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 160px;
    margin-left: 5%;
  
}
.box-procedure h2{
    font-family: Gilroy-Black;
    font-size: 40px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    padding-top: 100px;
}
.box-procedure p{
    font-size: 22px;
    font-family: 'Syne', sans-serif;
    text-align: center;
    color: var(--text-second-color);
    padding: 15px 46px;
    line-height: 35px;
    text-transform: capitalize;
}
.procedure .arrow1{
    display: none;
    position: relative;
    left: -8px;
}
.procedure .arrow1 .arrow-sign{
    rotate: 90deg;
    width: 38%;
    position: absolute;
    top: -8%;
    left: 31%;
}
.procedure .arrow1 .icon1{
    width: 30%;
    position: absolute;
    left: 35%;
    top: 98px;
    z-index: 9999;
}
.procedure .arrow2{
    display: none;
}
.arrow2 .box-procedure h2{
    font-family: Gilroy-Black;
    font-size: 40px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 33px;
    padding-top: 100px;
}
.procedure .arrow2 .box-procedure p{
    padding: 15px 17px;
    line-height: 26px;
}

  


@keyframes circle{
    0% {
      transform: translateY(0%); 
      opacity: 1;
      }
     50% {
        transform: translateY(-10%);
      }
      100% {
        transform: translateY(0%); 
        opacity: 1;
        }
    }
@keyframes circle-2{
    0% {
      transform: translateY(-10%); 
      opacity: 1;
      }
     50% {
        transform: translateY(0%);
      }
      100% {
        transform: translateY(-10%); 
        opacity: 1;
        }
    }

@keyframes text-clip {
  from {
    opacity: 0;
    clip-path: polygon(0% 100%,100% 100% 0% 100%);
  }
  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes move {
    0%{
        transform: translatey(0);
      }
    10%{        
        transform: translatey(0);
    }
    20% {
      transform: translatey(-35%);
      opacity: 1;
    }    
    30% {
        transform: translatey(-35%);
        opacity: 1;
      }
    40% {
    transform: translatey(-70%);
    }
    50% {
      transform: translatey(-70%);
    }
    60% {
        transform: translatey(0%);
      }  
    70% {
      transform: translatey(0%);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translatey(0);
      }
  }
@keyframes serivces {
   0% {
    translate: 100px 50px;
    width: 100%;
}



   100% {
    translate: 0px 0px;
    width: 50%;
}
  }


  @media only screen and (min-width: 1920px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1650px !important;
    }
  }
  @media only screen and (min-width: 1650px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1550px !important;
    }
  }