/* *{
    margin: 0;
    padding: 0;
} */
body{
  overflow-x: hidden;
}
:root{
    --button_color: #CFB53B;
    --button_hover: #fff;
    --primary-color: #024342;
    --text-color: #fff;
    --text-second-color: #2424248c;
    --heading-color: #242424;
}
h3{
    font-family: Gilroy;
    font-size: 30px;
    text-transform: capitalize;
    color: var(--heading-color);
}
h3 span{
    color: var(--button_color);
}
p{
    font-family: syne;
    font-size: 18px !important;
    text-transform: none;
    color: var(--text-second-color);
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  color: var(--heading-color);
  font-family: 'Gotham';
  line-height: 1.2;
  margin-top: 0px;
  
}
h1 span{
  color: var(--button_color);
}
.btn:hover {
  color: var(--button_color);
  background-color: var(--button_hover) !important;
  border: 1px  solid;
  border-color: var(--primary-color) !important;
}
.form-control:focus{
  border: none !important;
  border-color: #ffffff !important ;
}


/* HEADER */
header{
    background-color: var(--heading-color);
}
.header_contact{
    display: flex;
    width: 100%;
    color: var(--text-color);
}
.header_contact .contact-info{
    flex: 6;
    flex-direction: column;
    text-align: left;
    padding: 10px 15px 0px 15px;    
    color: var(--text-color);
    font-family: Gilroy;

}

.contact-info p{
  color: var(--text-color);
}
.social-media p{
  color: var(--text-color);
  font-family: Gilroy;
  font-weight: 200;
}

.social-media{
    text-align: right;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    display: flex;

}
.social-media img{
    padding: 0px 8px;
}
p{
    margin-bottom: 0 !important;
}
.navbar-expand-lg .navbar-nav {
    margin-top: -18px;
    align-items: baseline;
}
.navbar{
    padding: 0 !important;
}
.navbar-nav{
    margin-left: auto;
}
.nav-item{
    padding: 0px 10px;
    /* padding-top: 45px; */
    margin-bottom: 0px;
}
.nav-item :active{
    background-color: var(--button_color);
}
.navbar-brand img {
    width: 233px;
    height: 72px;
    padding-top: 0px;
    margin-top: 20px;

}
.nav-item a {
    text-decoration: none;
    color:var(--text-second-color) !important;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0px 10px;
    font-family: Gilroy;
    font-size: 22px;
    padding-top: 41px;
    padding-bottom: 10px;
}
.nav-item:hover a{
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 10px;
    background: var(--button_color);
    color: var(--text-color) !important;
    font-family: Gilroy;
    font-weight: 900;
    padding-top: 41px;

}
/* .nav-item a:hover{
    color: var(--text-color) !important;
    font-family: Gilroy;
    font-weight: 900;

} */
.navbar-collapse button{
    margin: 0px 15px;
    border: none;

}
.form-inline{
    display: flex !important;
    margin-left: auto;
    padding-top: 25px;
}
.form-inline button {

    text-align: center;
    padding: 8px;
    background-color: var(--button_color);
    border: none;
    color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
    font-size: 15px;
    width: 50%;
}
.form-inline button:hover{
    background-color: var(--button_hover);
    color: var(--button_color);
    border: 1px solid var(--primary-color);
}
.form-inline button::after{
    background-color: var(--button_hover);
    color: var(--button_color);
    border: 1px solid var(--primary-color);
}
.form-inline button:active{
    background-color: var(--button_hover) !important;
    color: var(--button_color);
    border: 1px solid var(--primary-color);
}
.form-inline .form-control{
    border-radius: 20px !important;

}


/* home banner section or hero section */

.homeBanner .row .homeBanner_pt1{
    margin-top: 188px;
    z-index: 999;
}
.homeBanner::before{
    content: "" !important;
    height: 72% !important;
    position: absolute !important;
    background-image: url(./images/hero-section-logo.svg) !important;
    width: 50% !important;
    top: 143px;
    left: -315px;
    background-repeat: no-repeat;
}

.homeBanner .row h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    color: var(--heading-color);
    font-family: 'Gotham';
    line-height: 1.2;
    margin-top: 0px;
    
}
.clip-animate {
    animation: text-clip 1.5s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.animate-in-future {
    opacity: 0;
}
.anmiation-wrapper {
    height: 70px;
    overflow-y: hidden;
    font-family: Gilroy;
}
.string {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    animation: move 8s ease-in-out infinite;
}
.building {
    position: relative;
    top: 0;
}

.one {
    background: linear-gradient(364deg, var(--primary-color) -1.23%, var(--text-second-color) 194.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.two {
    background: linear-gradient(112deg, var(--button_color) -1.23%, var(--text-second-color) 100.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    top: 3px;
}
.three {
    background: linear-gradient(364deg, var(--primary-color) -1.23%, var(--text-second-color) 194.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    top: 6px;
 }
.homeBanner_pt1 p{
    font-family: 'Syne', sans-serif;
    font-size: 26px;
    color: var(--text-second-color);
    padding-bottom: 20px;
}
.button-primary{
    width: 221px;
    height: 70px;
    border-radius: 41px;
    line-height: 2.5;
    background-color: var(--button_color);
    border: none;
    font-family: Gilroy;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.homeBanner_pt2{
    display: flex;
    position: relative;
}
.hero-section-circle-green{
    z-index: 9999;
    position: absolute;
    left: 169px;
    top: 132px;
    animation: circle 4s ease-in-out infinite;
}
.hero-section-circle-yellow{
    z-index: 9999;
    position: absolute;
    left: 49px;
    top: 113px;
    animation: circle-2 4s ease-in-out infinite;
}
.hero-section-object-1{
    width: 22%;
    position: absolute;
    left: 42px;
    top: 166px;
    rotate: -2deg;
    
}
.hero-section-object-2{
    width: 36%;
    position: absolute;
    top: 75px;
    right: 14px;
    rotate: -2deg;
    
}
.hero-video-section{
    width: 78%;
    height: 559px;
    position: absolute;
    top: 104px;
    left: 80px;
    border-radius: 108% 79% 107% 73%;
    rotate: -5deg;
    object-fit: none;
    overflow: hidden;
    z-index: 999;
    
}
.hero-video-section video{
    width: 175%;
    height: 198%;
    position: absolute;
    top: -273px;
    right: -224px;
    rotate: 4deg;
}

/* services */
.services-section{
    margin-top: 500px;
}
.services-section-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    transition: transform .7s ease,opacity .7s ease;

}
.services-section-heading :nth-child(1){
    font-family: Gilroy;
    font-size: 60px;
    color: var(--heading-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.services-section-heading :nth-child(2){
    font-family: Gilroy;
    font-size: 60px;
    color: var(--button_color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.lines-dot-left{
    position: relative;
    left: -3%;
    bottom: -28px;
}
.lines-dot-right{
    position: relative;
    right: -3%;
    top: -73px;
    float: right;
}
.lines-dot-left-1{
    position: relative;
    left: -69%;
    bottom: -81px;
    float: left;
}
.lines-dot-right-1{
    position: relative;
    right: -33%;
    top: 80px;
    float: right;
}

.text-center {
    font-size: 26px;
    font-family: 'Syne', sans-serif;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
    color: var(--text-second-color);
    margin-bottom: 50px;
}

.text-center::before,
.text-center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--heading-color);
}
.services-section .row .shade-pic-right{
    width: 40%;
    position: absolute;
    top: 930px;
    right: 0px;
    z-index: -9999;
}
.services-section .row :nth-child(14){
    width: 60%;
    position: absolute;
    bottom: -2500px;
    left: -302px;
    z-index: -9999;
}
.services-section-block{
    margin: 50px 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.services-section-block img{
    width: 70%;
}
/* .services-section-animation{
    display: none;
} */
.services-section-animation h1{
    font-family: Gilroy;
    font-size: 40px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    padding: 15px 30px;
    line-height: 48px;
}
.services-section-animation p{
    font-size: 22px;
    font-family: 'Syne', sans-serif;
    text-align: left;
    color: var(--text-second-color);
    padding: 15px 30px;
    line-height: 35px;

}
.services-section-animation :nth-child(3){
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 30px;
}
.services-section-block:hover{
    border-radius: 20px;
    box-shadow: -1px 3px 90px -28px #2424242e;;
}

/* .services-section-block:hover .services-section-animation{
    display: unset;
    position: relative;
    top: -60px;
    
} */
/* .services-section-block:hover img{
    transform: translateX(-110px) translateY(-35px);
    width: 50%;
    animation: serivces 2s ease;
    
} */
.services-section-animation:hover{
    display: flex;
    flex-direction: column;
}

/* Procedure section */
.procedure{
    position: relative;
    margin-bottom: 130px;
}
.procedure .lines{
    width: 90%;
    height: 20px;
    background: var(--button_color);
    border-radius: 10px;
    position: relative;
    left: 90px;
    box-shadow: inset 1px 2px 10px 0px #00000021;
}
.procedure #dot{
    width: 50px;
    height: 43px;
    border: none;
    border-radius: 50%;
    box-shadow: 1px -1px 17px 0px #c1bdbd;
    position: relative;
    top: -34px;
    left: 14.4%;
}
.procedure #dot img:nth-child(1){
    width: 90px;
    position: absolute;
    left: -17px;
    bottom: -25px;
}
.procedure #dot img:nth-child(2){
    width: 67%;
    position: absolute;
    left: 11px;
    bottom: 3px;
}
.procedure .col-lg-4{
    margin-top: 51px;
    padding: 0px 50px;
    position: relative;
}
.procedure .arrow{
    background: white;
    left: 1%;
}
.procedure .arrow-sign{
    rotate: 90deg;
    width: 30%;
    position: absolute;
    top: -8%;
    left: 35%;
}
.procedure .icon1{
    width: 24%;
    position: absolute;
    left: 38%;
    top: 98px;
    z-index: 9999;
}
.procedure .box-procedure{
    width: 91%;
    border: 5px solid var(--button_color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 160px;
    margin-left: 5%;
  
}
.box-procedure h2{
    font-family: Gilroy;
    font-size: 40px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    padding-top: 100px;
}
.box-procedure p{
    font-size: 22px;
    font-family: 'Syne', sans-serif;
    text-align: center;
    color: var(--text-second-color);
    padding: 15px 46px;
    line-height: 35px;
    text-transform: capitalize;
}
.procedure .arrow1{
    display: none;
    position: relative;
    left: -8px;
}
.procedure .arrow1 .arrow-sign{
    rotate: 90deg;
    width: 38%;
    position: absolute;
    top: -8%;
    left: 31%;
}
.procedure .arrow1 .icon1{
    width: 30%;
    position: absolute;
    left: 35%;
    top: 98px;
    z-index: 9999;
}
.procedure .arrow2{
    display: none;
}
.arrow2 .box-procedure h2{
    font-family: Gilroy;
    font-size: 40px;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 33px;
    padding-top: 100px;
}
.procedure .arrow2 .box-procedure p{
    padding: 15px 17px;
    line-height: 26px;
}



/* TECHNOLOGIES */
.techsection{
    background-color: var(--primary-color);
}
.techsection .services-section-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    transition: transform .7s ease,opacity .7s ease;

}
.techsection .services-section-heading :nth-child(1){
    font-family: Gilroy;
    font-size: 60px;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.techsection .services-section-heading :nth-child(2){
    font-family: Gilroy;
    font-size: 60px;
    color: var(--button_color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}
.techsection .lines-dot-left{
    position: relative;
    left: -3%;
    bottom: -28px;
}
.techsection .lines-dot-right{
    position: relative;
    right: -3%;
    top: -73px;
    float: right;
}
.techsection .text-center::before, .techsection .text-center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--text-color);
}
.techsection .text-center{
    color: var(--text-color);
}
.techsection-sub-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.techsection-sub-heading h3{
    color: var(--text-color);
    font-family: Gilroy;
    font-size: 22px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    border: 2px dashed var(--button_color);
    border-radius: 50px;
    padding: 20px 40px;
    margin-top: 20px ;
    margin-bottom: 40px;
}
.techimages{
    padding-bottom: 20px;
}
.techimages .col-lg-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .techimages img{
    filter: brightness(1) invert(1);
}
.techimages img:hover{
    filter: brightness(1) invert(0);
} */



/* form section */

.formsection{
    margin-top: 50px;
    margin-bottom: 50px;

}
.formsection .row{
    border: 1px solid var(--button_hover);
    border-radius: 10px;
    box-shadow: -3px 5px 29px -12px;
}
.formsection .col-lg-6 img{
    width: 100%;
    height: auto;
}
.form-button{
    display: flex;
    align-items: center;
    
}
.form-button .file{
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 150px;
    font-family: Gilroy;
    font-size: 22px;
    border-radius: 50px;
}
.form-button .btn-primary{
    margin-right: 20px;
    background-color: var(--button_color);
    border-color: var(--button_color);
}
.form-button input {
  
    font-size: 40px;
    opacity: 0;
    position: relative;
    right: 104px;
    top: 2px;
}
.form-button button{
    width: 50%;
    margin-right: 20px;
    padding: 30px;
    border-radius: 50px;
    color: var(--text-color);
    font-family: Gilroy;
    font-size: 22px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    background-color: var(--button_color);
}

.formsection h1{
  padding: 10px !important;
}


/* FOOTER */
.footersection{
    background-image: linear-gradient(180deg, #4D4D4D, #242424);
    padding: 100px 0;
}
.footersection .col-lg-3 img{
    width: 70%;
    padding-bottom: 20px;
}
.footericon{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.footericon a{
    text-decoration: none;
}
.footericon p {
    color: var(--text-color);
    padding-left: 10px;
    font-size: 18px;
    font-family: Gilroy;
    font-weight: 400;
    text-decoration: none;
}
.iconbody{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: var(--button_color);
    margin-right: 10px;
}
.svg-inline--fa{
    color: var(--button_hover);
    padding: 15px;
}
.footersection .footersec2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footersection h2{
    color: var(--text-color);
    font-size: 22px;
    font-family: Gilroy;
    font-weight: 700;
    text-decoration: underline var(--button_color);
    text-transform: capitalize;
    text-underline-offset: 13px;
    padding-bottom: 30px;

}
.footersec2 ul{
    list-style-type: disc;
    color: var(--text-color);
}
.footersec2 ul li{
    padding-bottom: 5px;
}
.footersec2 ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-family: Gilroy;

}
.emailarea{
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--button_hover);
    padding-bottom: 10px;
}
.emailarea img{
    width: 40px;
    height: auto;
}
.emailarea input{
    background-color: transparent;
    color: var(--text-color);
    border: none;
    width: 100%;
    padding-left: 10px;
}
.footerimgright{
    position: relative;
    right: 10px;
}
.footerimgright img{
    left: 132px;
    width: 130%;
    position: absolute;
    top: -97px;
    z-index: 99999;
}
.copyright{
    background-color: var(--button_color);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
.copyright p{
  color: var(--text-color);
}


                /* /////////////////////////////////////////////////////////Service Pages //////////////////////////////////////////////////*/


/* BANNER */

.homeBanner_pt3{
    margin-top: 85px;
}
.homeBanner_pt3 .container {
    position: relative;
    width: 86%;
    height: 60vh;
    transition: 200ms;
    
  }
  
 .homeBanner_pt3 .container:active {
    width: 180px;
    height: 245px;
  }
  
  #card {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 700ms;
    background-image:url(./images/servicebannerimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .subtitle {
    transform: translateY(160px);
    color: rgb(134, 110, 221);
    text-align: center;
    width: 100%;
  }
  
  .title {
    opacity: 0;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out-out;
    transition-delay: 100ms;
    position: absolute;
    font-size: x-large;
    font-weight: bold;
    color: var(--primary-color);
    font-family: Gilroy;
  }
  
  .tracker:hover ~ #card .title {
    opacity: 1;
  }
  
  #prompt {
    left: -67px;
    bottom: 32%;
    z-index: 9999;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms ease-in-out-out;
    position: absolute;
    max-width: 110px;
    color: rgb(255, 255, 255);
  }
  
  .tracker {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
  }
  
  .tracker:hover {
    cursor: pointer;
  }
  
  .tracker:hover ~ #card #prompt {
    opacity: 1;
  }
  
  .tracker:hover ~ #card {
    transition: 300ms;
    /* filter: brightness(1.1); */
  }
  
  .container:hover #card::before {
    transition: 200ms;
    content: '';
    opacity: 80%;
  }
  
  .canvas {
    perspective: 800px;
    inset: 0;
    z-index: 200;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
      "tr-6 tr-7 tr-8 tr-9 tr-10"
      "tr-11 tr-12 tr-13 tr-14 tr-15"
      "tr-16 tr-17 tr-18 tr-19 tr-20"
      "tr-21 tr-22 tr-23 tr-24 tr-25";
  }
  
  #card::before {
    content: '';
    filter: blur(2rem);
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: 200ms;
  }
  
  .tr-1 {
    grid-area: tr-1;
  }
  
  .tr-2 {
    grid-area: tr-2;
  }
  
  .tr-3 {
    grid-area: tr-3;
  }
  
  .tr-4 {
    grid-area: tr-4;
  }
  
  .tr-5 {
    grid-area: tr-5;
  }
  
  .tr-6 {
    grid-area: tr-6;
  }
  
  .tr-7 {
    grid-area: tr-7;
  }
  
  .tr-8 {
    grid-area: tr-8;
  }
  
  .tr-9 {
    grid-area: tr-9;
  }
  
  .tr-10 {
    grid-area: tr-10;
  }
  
  .tr-11 {
    grid-area: tr-11;
  }
  
  .tr-12 {
    grid-area: tr-12;
  }
  
  .tr-13 {
    grid-area: tr-13;
  }
  
  .tr-14 {
    grid-area: tr-14;
  }
  
  .tr-15 {
    grid-area: tr-15;
  }
  
  .tr-16 {
    grid-area: tr-16;
  }
  
  .tr-17 {
    grid-area: tr-17;
  }
  
  .tr-18 {
    grid-area: tr-18;
  }
  
  .tr-19 {
    grid-area: tr-19;
  }
  
  .tr-20 {
    grid-area: tr-20;
  }
  
  .tr-21 {
    grid-area: tr-21;
  }
  
  .tr-22 {
    grid-area: tr-22;
  }
  
  .tr-23 {
    grid-area: tr-23;
  }
  
  .tr-24 {
    grid-area: tr-24;
  }
  
  .tr-25 {
    grid-area: tr-25;
  }
  
  .tr-1:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-2:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-3:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-4:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-5:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-6:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-7:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-8:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-9:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-10:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-11:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-12:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-13:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-14:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-15:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-16:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-17:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-18:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-19:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-20:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-21:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-22:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-23:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-24:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-25:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .noselect {
    -webkit-touch-callout: none;
     /* iOS Safari */
    -webkit-user-select: none;
     /* Safari */
     /* Konqueror HTML */
    -moz-user-select: none;
     /* Old versions of Firefox */
    -ms-user-select: none;
     /* Internet Explorer/Edge */
    user-select: none;
     
  }
  .leftball{
    position: absolute;
    right: 63px;
    bottom: 269px;
  }


/* SERVICE IFORMATION */

.serviceinfo{
    margin-top: 50px;
}
.serviceinfo .col-lg-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.serviceinfo .sectionright{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.serviceinfo .sectionright img{
    margin-left: auto;
    width: 80%;
    height: auto;
}
.sectionleft img{
    width: 10% !important;
    height: auto;
}
.sectionright h3{
    font-family: Gilroy;
    font-size: 40px;
    text-transform: capitalize;
    width: 50%;
    color: var(--heading-color);
    padding-left: 20px;
}
.sectionright h3 span{
    color: var(--button_color);
}
.sectionright p{
    font-family: syne;
    font-size: 22px;
    text-transform: none;
    color: var(--heading-color);
    padding-left: 20px;
}
.sectionleft2 img{
    width: 80%;
}
.sectionleft h3{
    font-family: Gilroy;
    font-size: 40px;
    text-transform: capitalize;
    width: 50%;
    color: var(--heading-color);
}




                               /* /////////////////////////////////////////////////////// ABOUT US /////////////////////////////////////////////////// */


/* BANNER */

.aboutusbanner{
    margin-top: 100px;
}
.bannerimage{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bannerimage img{
  width: 100%;
}
/* paragrhap */
.parasection{
    text-align: center;
    font-family: syne;
    font-size: 22px;
    text-transform: none;
    color: var(--text-second-color);
    line-height: 2;
    padding-top: 50px ;
    padding-bottom: 100px;
}


/* BOXES */
.aboutbox{
  background-color: #f5f5f5;
  padding: 100px 0;
}
.boxes{
    box-shadow: -1px 3px 9px -1px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: 350px;
    background-color: var(--button_hover);
}
.boxes img{
    position: relative;
    top: -85px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.boxestext{
    position: relative;
    top: -40px;
}

/* meeting schedule Section */

.scheduleSec{
  padding: 50px;
  padding-bottom: 100px;
}
.scheduleSec .col-lg-3{
  display: flex;
  align-items: center;
  justify-content: right;
}
.scheduleSec .col-lg-2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.scheduleSec .btn-secondary{
  float: right;
  width: 100%;
  height: 70px;
  border-radius: 41px;
  line-height: 2.5;
  border: 1px solid var(--button_color);
  background-color: var(--button_hover);
  color: var(--text-second-color);
  text-transform: capitalize;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 500;
  
}

                                      /* /////////////////////////////JOB PAGE\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* BANNER SECTION */
.jobpagebanner{
  margin-top: 100px;
}
.jobpagebanner .col-lg-7{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-group{
  width: 80%;
  padding-top: 30px;
}
.input-group .input::placeholder{
  color: var(--text-second-color);
}
.form-control{
  border: none !important;
  border-radius: 30px;
  box-shadow: -12px 7px 30px -14px;
  height: 60px;
  flex: 0.8 1 auto !important;
}
.btn-outline-secondary{
  height: 60px;
  border: none !important;
  border-radius: 0 30px 30px 0;
  box-shadow: 17px 7px 35px -14px;
  color: var(--text-color);
  background-color: var(--button_color);
  width: 155%;
}
.jobpagebanner .col-lg-5{
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobpagebanner .col-lg-5 img{
  width: 90%;
}

/* JOB PAGE BOXES */
.jobPageBox{
  margin-top: 200px;
  margin-bottom: 200px;
}
.jobPageBox .boxes{
  text-align: left;
  height: 260px;
  box-shadow: 0px 1px 3px -1px;
}
.jobPageBox .boxes img{
  position: relative;
  top: -70px;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  right: -25px;
}
.detailbox{
  position: relative;
  top: -90px;
}
.detailbox p{
  text-transform: capitalize;
}

                     /* //////////////////////////////CONTACT US PAGE\\\\\\\\\\\\\\\\\\\\\\\ */

/* BANNER */
.contactPage{
  margin: 200px 0;
}
.contactPage .formarea{
  width: 80%;
  margin: 50px 0;
}
.formarea ::-ms-input-placeholder { /* Edge 12-18 */
}
.formarea ::placeholder {
  opacity: 1; /* Firefox */
  padding: 20px;
  text-transform: capitalize;
}
.contactPage .form-control{
  background-color: #2424240f;
  box-shadow: none;
}
textarea.form-control{
  min-height: 200px;
}
.formarea .btn-primary{
  width: 100%;
  text-align: center;
    padding: 8px;
    background-color: var(--button_color);
    border: none;
    color: var(--text-color);
    border-radius: 25px;
    text-decoration: none;
    font-size: 15px;
}
.contacticon{
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}
.contacticon a{
  text-decoration: none;
}
.contacticon p{
  padding-left: 10px;
    font-size: 18px;
    font-family: Gilroy;
    font-weight: 100 !important;
    text-decoration: none;
}
.contacticon .svg-inline--fa{
  color: var(--button_color);
}
.contacticon .iconbody{
  background-color: var(--button_hover);
  border: 1px solid var(--text-second-color);
}

@keyframes circle{
    0% {
      transform: translateY(0%); 
      opacity: 1;
      }
     50% {
        transform: translateY(-10%);
      }
      100% {
        transform: translateY(0%); 
        opacity: 1;
        }
    }
@keyframes circle-2{
    0% {
      transform: translateY(-10%); 
      opacity: 1;
      }
     50% {
        transform: translateY(0%);
      }
      100% {
        transform: translateY(-10%); 
        opacity: 1;
        }
    }

@keyframes text-clip {
  from {
    opacity: 0;
    clip-path: polygon(0% 100%,100% 100% 0% 100%);
  }
  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes move {
    0%{
        transform: translatey(0);
      }
    10%{        
        transform: translatey(0);
    }
    20% {
      transform: translatey(-35%);
      opacity: 1;
    }    
    30% {
        transform: translatey(-35%);
        opacity: 1;
      }
    40% {
    transform: translatey(-70%);
    }
    50% {
      transform: translatey(-70%);
    }
    60% {
        transform: translatey(0%);
      }  
    70% {
      transform: translatey(0%);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translatey(0);
      }
  }
/* @keyframes serivces {
   0% {
    translate: 100px 50px;
    width: 100%;
}



   100% {
    translate: 0px 0px;
    width: 50%;
}
  } */


  @media only screen and (min-width: 1920px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1650px !important;
    }
  }
  @media only screen and (min-width: 1650px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1550px !important;
    }

  }
  @media only screen and (max-width: 1650px){

    .footerimgright img{
      left: 1px;
    }
    .leftball{
      bottom: 90px;
    }
    .boxes{
      height: 400px;
    }
  }
  @media only screen and (max-width: 1440px){
    .leftball{
      right: 34px;
      bottom: 100px;
    }
    .footerimgright img{
      left: 23px;
      top: -59px;
    }
    .hero-section-object-1{
      left: 55px;
    }
    .hero-section-object-2{
      top: 116px;
      right: -32px;
    }
    .hero-video-section{
      width: 82%;
      height: 532px;
    }
    .form-button .file {
      padding-left: 125px;
    }
    .jobPageBox .boxes{
      height: 350px;
    }

  }
  @media only screen and (max-width: 1280px){
    .nav-item{
      padding: 0 0px;
      padding-top: 45px;
    }
    .scheduleSec .btn-secondary {
      font-size: 16px;
    }
    .hero-video-section{
      width: 95%;
      left: 26px;
    }
    .hero-section-object-1{
      left: 15px;
    }
    .hero-section-object-2 {
      right: -51px;
    }
    .homeBanner::before{
      width: 75% !important;
    }
    .footerimgright img{
      left: 43px;
    }
    .services-section-heading :nth-child(2){
      font-size: 60px;
    }
    .lines-dot-left-1{
      left: -72%;
    }
    .lines-dot-right-1{
      right: -31%;
    }
  }
  @media only screen and (max-width: 1080px){
    /* .services-section-block:hover img{
      transform: translateX(-60px) translateY(-23px);
    } */
    .boxes {
      height: 550px;
    }
    .nav-item a{
      font-size: 20px;
    }
    .footerimgright img{
      left: 42px;
    }
    .hero-video-section{
      width: 112%;
      left: 0;
    }
    .hero-section-object-1{
      left: 5px;
    }
    .hero-section-object-2 {
      right: -83px;
    }
    .services-section-heading :nth-child(1) {
      font-size: 50px;
    }
    .services-section-heading :nth-child(2){
      font-size: 50px;
    }
    .hero-video-section{
      width: 100%;
      height: 502px;
      top: 165px;
      border-radius: 912% 850% 896% 875%;

    }
    .hero-section-object-1 {
      left: 26px;
      rotate: 10deg;
    }
    .hero-section-object-2{
      right: 8px;
      rotate: -26deg;
    }


  }
  @media only screen and (max-width: 991px){
    .boxes{
      margin-bottom: 70px;
      height: 350px;
    }
    .scheduleSec .col-lg-3{
      justify-content: center;
      margin: 30px 0;
    }
    /* .services-section-block:hover img{
      transform: translateX(-110px) translateY(-35px);
    } */
    header{
      display: none;
    }
    .navbar-expand-lg .navbar-nav{
      padding-bottom: 30px;
    }
    .nav-item{
      width: 100%;
    }
    .nav-item:hover a{
      border-radius: 0px 0px 0px 0px;
      padding-bottom: 10px;
      background: var(--button_color);
      color: var(--text-color) !important;
      font-family: Gilroy;
      font-weight: 900;
      padding-top: 0;
  
    }
    .jobPageBox .col-lg-3{
      margin-bottom: 70px;
    
    }
    .procedure{
      display: none;
    }
    .procedure .lines{
      left: 34px;
    }
    .footerimgright{
      display: none;
    }
    .footersection .col-lg-3{
      padding: 30px 0;
    }
    .footersection .col-lg-4{
      padding: 30px 0;
    }
    .footersection .footersec2{
      flex-direction: row;
      align-items: center;
    }
    .footersec2 ul{
      padding-left: 160px;
    }
    .procedure .arrow-sign{
      width: 20%;
      left: 40%;
    }
    .homeBanner_pt2{
      display: none;
    }
    .homeBanner::before{
      display: none;
    }
    .services-section{
      margin-top: 150px;
    }
    .lines-dot-left-1{
      left: -85%;
      bottom: -68%;
    }
    .lines-dot-right-1{
      top: 75px;
      right: -27%;
    }
    .homeBanner .row .homeBanner_pt1{
      padding-bottom: 50px;
    }
    
  }
  @media only screen and (max-width: 575px){
    .footersection {
      padding-left: 20px;

    }
    .footersection .col-lg-3 img{
      width: 90%;
    }
    
  }